@model IEnumerable<TaskManagerAPI.Models.TaskViewModel>

@{
    ViewData["Title"] = "Список задач";
}

<h2>Tasks List</h2>
<form method="get" asp-controller="Tasks" asp-action="Create">
        <button type="submit" class="btn btn-success">Создать задачу</button>
</form>
<form method="get" asp-controller="Projects" asp-action="Create">
    <button type="submit" class="btn btn-success">Создать проект</button>
</form>
    
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.StatusId</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>
                    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
